[submodule "vim/pack/git-plugins/start/python-syntax"]
	path = vim/pack/git-plugins/start/python-syntax
	url = https://github.com/vim-python/python-syntax
[submodule "vim/pack/git-plugins/start/ale"]
	path = vim/pack/git-plugins/start/ale
	url = https://github.com/w0rp/ale.git
